.section {
  padding: 3rem 0;
  scroll-margin-top: 64px;
}

.section__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


@media (min-width: 768px) {
  .section {
    padding: 4rem 0;
    scroll-margin-top: 73px;
  }
}

@media (min-width: 1024px) {
  .section {
    padding: 5rem 0;
  }
}
